<div>

    <button *ngIf="urunler[0]" color="warn" (click)="buyAll()" mat-button>SATIN AL</button>
    <h1 *ngIf="!urunler[0] && !urunAlindi">Sepetinizde Ürün Bulunmuyor</h1>
    <div *ngIf="urunler[0]">
        <mat-card class="example-card" *ngFor="let item of urunler; let i = index">
            <mat-card-header>

                <mat-card-title>Ürün Adı: {{urunIsim[i].name}} Adet: {{urunIsim[i].quantity}}</mat-card-title>
            </mat-card-header>
            <button color="warn" (click)="addItem(item)" mat-button>+</button>
            <button style="padding-left: 60px;" color="warn" (click)="deleteItem(item)" mat-button>-</button>
            <br>
            <mat-card-subtitle>
                İlan No: {{item}}
            </mat-card-subtitle>
            <img mat-card-image
                src="https://images.unsplash.com/flagged/photo-1553505192-acca7d4509be?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb"
                alt="Photo of a Shiba Inu">

            <mat-card-actions>
                <button color="warn" (click)="removeItem(item)" mat-button>SİL</button>

            </mat-card-actions>
        </mat-card>
    </div>

</div>
<span *ngIf="urunAlindi" style="font-size: 20px;color: red;">Arabalar Satın Alındı En Yakın Zamanda Garajınızda
    Olacak.</span>